html {
  color: white;
  font-family: 'Product Sans', 'sans-serif';
  font-size: 1.3em;
    
  position: relative;
  min-height: 100%;
}

body {
  background: url("../images/santa-monica.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
  margin: 0 0 70px;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  position:fixed;
  width: 97%;
  color: #f2f2f2;
  font-family: 'Raleway', 'sans-serif';
  text-align: right;
}

footer {
    text-align: center;
    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}

footer p {
 margin: 5px;   
}
