html, body {
  color: white;
  font-family: 'Product Sans', 'sans-serif';
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.section p {
  padding-left: 25px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#welcome-page {
  background-image: url(../../assets/images/lights.jpg);
}

#photos-page {
  background-image: url(../../assets/images/bean.jpg);
}

#social-page {
  background-image: url(../../assets/images/ski.PNG);
}

#snapchat-page {
  background-image: url(../../assets/images/sunset.jpg);
}

.title {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	z-index:9;
	color: #f2f2f2;
	padding-left: 20px;
  font-family: 'Raleway', 'sans-serif';
}
